#shape{
    width: 200px;
    height: 200px;
    background-color: indigo;
    position : relative;
}
body{
    color: rgb(221, 9, 9);
    background-color: burlywood;
     text-align: center;
}